<div class="row">
  <div class="col-md-4">
    <a href="#"><i class="fa {{icon}} fa-fw"></i> <span>{{file.name}}</span></a>
  </div>
  <div class="col-md-2">
    <span>{{formattedSize}}</span>
  </div>
  <div class="col-md-3">
    <span>{{file.filetype}}</span>
  </div>
  <div class="col-md-3">
    <span>{{formattedDate}}</span>
  </div>
</div>
